.App {
  text-align: center;
  margin-top: 1rem;
}

.App span {
  font-size: 3rem;
  margin: 0 1rem;
}

.App button {
  font-size: 3em;
  width: 5rem;
  height: 5rem;
}

.App button:hover {
  cursor: pointer;
}




